---
import BadgeTugas from "$lib/components/badge-tugas.svelte";
import ButtonTugas from "$lib/components/button-tugas.svelte";
import { Separator } from "$lib/components/ui/separator";
import DefaultLayout from "$lib/layouts/default-layout.astro";

import { getEntry } from "astro:content";

const { matkul, tugas } = Astro.params;
if (matkul === undefined || tugas === undefined)
  throw new Error("link tidak valid");

const entry = await getEntry("tugas", `${matkul}/${tugas}`);
if (entry === undefined) throw new Error("tugas tidak ditemukan!");

const { data, render, slug } = entry;
const { Content } = await render();
---

<DefaultLayout>
  <h2
    class="scroll-m-20 pb-2 text-3xl text-center sm:text-start font-semibold tracking-tight transition-colors first:mt-0"
  >
    {data.judul}
  </h2>
  <BadgeTugas client:load id={slug} {data} />

  <Separator class="my-4" />

  <ButtonTugas client:load id={slug} {data} />

  <Separator class="my-4" />

  <div class="content">
    <Content />
  </div>
</DefaultLayout>

<style is:global>
  .content p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  .content a {
    @apply text-indigo-700 underline break-all;
  }

  .content blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  .content img {
    @apply p-2 mx-auto border shadow-sm;
  }

  .content :is(ol, ul) {
    @apply my-4 ml-6 [&>li]:mt-2;
  }

  .content ol {
    list-style: decimal;
  }

  .content ul {
    list-style-type: disc;
  }
</style>
